# Compiled Python Files #
#########################
*.pyc

# Edited text files #
#####################
*~

# Log files #
#############
*.log

# Package files #
#################
build/
dist/
*.egg-info/

# pycache files #
#################
__pycache__/

# coverage files #
##################
coverage_reports/
.coverage
.coveragec
codecov
azure_storage.xml


# credentials files #
#####################
azure_storage/*credentials.txt
azure_storage/*credentials.key

# SAS files #
#############
sas.txt
