# Compiled Python Files #
#########################
*.pyc

# Edited text files #
#####################
*~

# Log files #
#############
*.log

# Package files #
#################
build/
dist/
*.egg-info/

# pycache files #
#################
__pycache__/

# coverage reports #
####################
coverage_reports/